<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <div class="form-style">
        <div class="form_advance_activity_post">
          <%= simple_form_for activity_post do |f| %>
            <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "2019.08.01..."%>
            <%= f.input :category_id, as: :hidden%>
            <%= f.input :title, as: :hidden %>
            <%= f.input :duration, placeholder: 'Type in minutes the length of the activity', as: :hidden %>
            <%= f.input :description, as: :text, placeholder: 'Add the information of the activity..', as: :hidden %>
            <%= f.input :capacity, as: :hidden %>
            <%= f.button :submit, "Quick Create"%>
          <% end %>
        </div>
      </div>
   </div>
  </div>
</div>





