<div class="form_activity_post">
  <%= simple_form_for activity_post do |f| %>
    <%= f.association :category, as: :select%>
    <%= f.input :title %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"}  %>
    <%= f.input :duration, placeholder: 'Type in minutes the length of the activity' %>
    <%= f.input :description, as: :text, placeholder: 'Add the information of the activity..' %>
    <%= f.input :capacity %>
    <%= f.submit "Add the activity"%>
  <% end %>
</div>
