<% @my_joined_activities.each do |activity| %>
 <% if Date.today.strftime("%B%e") == activity.start_time.strftime("%B%e") %>
 <div class="card-product">
        <%= image_tag activity.category.url_small, alt: "activity-category" %>
        <div class="card-content">
          <div class="card-product-infos">
            <div>
              <h2><%=activity.start_time.strftime("%H:%M")%> - <%= (activity.start_time + (activity.duration*60)).strftime("%H:%M") %></h2>
            </div>
            <div>
              <h3><%= activity.title %></h3>
            </div>
          </div>
          <div class="location">
            <p><%= activity.description %></p>
          </div>
          <div class="capacity">
            <div class="d-flex align-items-center">
              <i class="fas fa-users"></i>
              <% if activity.users.count == 0%>
                <div class="card-users-joined">
                  <h2> Be the first to join!</h2>
                </div>
              <% else %>
               <% activity.users.sample(3).each do |user| %>
              <div>
                <%= image_tag user.url, alt: "avatar-bordered", class: "avatar-bordered" %>
              </div>
              <% end %>
              <% end %>
              <div id="amount-capacity">
                <% if activity.users.count >= 4 %>
                + <%=(activity.users.count - 3)  %> more
                <% end %>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <i class="fas fa-map-marker-alt"></i>
              <h5><%=activity.location%></h5>
            </div>
          </div>
        </div>
        <div class="container-btn">
            <% if activity.user == current_user %>
          <div class="invite-btn">
            <%= link_to edit_activity_post_path(activity.id) do  %>
            <h5>Edit</h5>
            <% end %>
          </div>
          <div class="destroy-btn">
         <%= link_to activity_post_activity_users_path(activity.id), method: :post  do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
        <%else%>
        <div class="invite-btn">
          <i class="fas fa-user-friends"></i>
        </div>
        <div class="cancel-btn">
              <%=link_to cancel_activity_path(activity.id), method: :delete  do %>
          <i class="fas fa-minus"></i>
          <% end %>
        </div>
          <% end %>
        </div>
    </div>
    <% end %>
<% end %>
