<% @my_joined_activities.each do |activity| %>
<% if Date.today.strftime("%B%e") != activity.start_time.strftime("%B%e") %>
 <div class="card-product" id="card-activity-<%= activity.id %>">
        <%= image_tag activity.category.url_small, alt: "activity-category" %>
        <div class="card-content">
          <div class="card-product-infos">
            <div>
              <h2><%=activity.start_time.strftime("%H:%M")%> - <%= (activity.start_time + (activity.duration*60)).strftime("%H:%M") %></h2>
            </div>
            <div>
              <h3><%= activity.title %></h3>
            </div>
          </div>
          <div class="location">
            <p><%= activity.description %></p>
          </div>
          <div class="capacity">
            <div class="d-flex align-items-center">
              <i class="fas fa-users"></i>
              <% if activity.users.count == 0%>
                <div class="card-users-joined">
                  <h2> Be the first to join!</h2>
                </div>
              <% else %>
               <% activity.users.sample(3).each do |user| %>
              <div>
                <%= image_tag user.url, alt: "avatar-large", class: "avatar-large" %>
              </div>
              <% end %>
              <% end %>
              <div id="amount-capacity">
                <% if activity.users.count >= 4 %>
                + <%=(activity.users.count - 3)  %> more
                <% end %>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <i class="fas fa-map-marker-alt"></i>
              <h5><%=activity.location%></h5>
            </div>
          </div>
        </div>
        <div class="container-btn">
            <% if activity.user == current_user %>
          <div class="invite-btn" data-toggle="modal" data-target="#quickEditModal-<%= activity.id %>">
            <h5>Edit</h5>
          </div>
          <div class="destroy-btn">
         <%= link_to activity_post_path(activity.id), method: :delete  do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
        <%else%>
        <div class="invite-btn">
          <i class="fas fa-user-friends"></i>
        </div>
        <div class="cancel-btn">
              <%=link_to cancel_activity_hosting_path(activity.id), method: :delete, remote: true  do %>
          <i class="fas fa-minus"></i>
          <% end %>
        </div>
          <% end %>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="quickEditModal-<%= activity.id %>" tabindex="-1" role="dialog" aria-labelledby="quick-create-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin-left: 15px;">
          <h3 class="modal-title" id="quick-create-modal">Edit the Event</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/edit_form_advance_activity_post', activity_post: activity %>
      </div>
    </div>
  </div>
</div>
    <% end %>
  <% end %>
