
<%  @activity_posts_next_up.order(start_time: :asc).first(3).each do |activity|%>
  <div class="small-card-product">
    <%= image_tag activity.category.url, alt: "alttext" %>
    <div class="small-card-content">
      <div class="small-card-product-infos d-flex justify-content-space-between">
        <h2><%= activity.title %></h2>
        <h2><%= activity.location %></h2>
      </div>
      <div class="location d-flex justify-content-center">
        <p><%=activity.start_time.strftime("%A, %l:%M")%></p>
      </div>
    </div>
    <div class="small-container-btn">
      <div class="small-join-btn">
      <% if activity.has_user?(current_user) %>
        <%=link_to cancel_activity_path(activity.id), method: :delete  do %>
          <i class="fas fa-check"></i>
        <% end %>
        <%else%>
         <%= link_to activity_post_activity_users_path(activity.id), method: :post  do %>
          <i class="fas fa-plus"></i>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

