<div class="quick-form-style">
  <p> Choose a <strong>Category</strong> and a <strong>Date</strong>. Customize it later.</p>
  <div class="form_advance_activity_post">
    <%= simple_form_for activity_post do |f| %>
      <%= f.association :category, as: :select, required: true%>
      <%= f.input :start_time, as: :string, required: true, input_html: {class: "datepicker"}, placeholder: "Choose a date and time!"%>
      <%= f.input :title, as: :hidden %>
      <%= f.input :duration, as: :hidden %>
      <%= f.input :description, as: :text, as: :hidden %>
      <%= f.input :capacity, as: :hidden %>
      <%= hidden_field_tag :quick_create, true %>
      <%= f.button :submit, "Quick Create"%>
    <% end %>
  </div>
</div>

