
<span class="burger-icon" onclick="openNav()"><i class="fas fa-bars"></i></span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
  <div class="d-flex align-items-center">
    <%= link_to date_activities_path do %>
      <div class="mylink_container">
        <h4>Browse events</h4>
      </div>
    <% end %>
  </div>
     <%= link_to my_upcoming_activities_path do %>
      <div class="mylink_container" id="mylink_container">
        <h4>My Events</h4>
      </div>
    <% end %>
    <%= link_to my_hosting_path do %>
      <div class="mylink_container">
        <h4>My Hosting</h4>
      </div>
    <% end %>
    <%= link_to new_activity_post_path do %>
    <div class="mylink_container">
      <h4>Create a new activity</h4>
    </div>
    <% end %>
      <%= link_to root_path do %>
    <div class="mylink_container">
      <h4>Log Out</h4>
    </div>
    <% end %>
  </div>
</div>

<script>
  function openNav() {
    var e = document.getElementById("mySidenav");
    if (e.style.width == '250px')
    {
      e.style.width = '0px';
    }
    else
    {
      e.style.width = '250px';
    }
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
