<div class="d-flex">
<div>
<h3>Today</h3>
<%= @date.strftime("%Y-%m-%e") %>
</div>
<%= link_to "See tomorrow's stuff", date_activities_path(date: (@date + 1).strftime("%Y-%m-%e"))  %>
<h1>Datepicker</h1>
</div>

<% @categories.each do |category| %>
  <div style="height: 100px; width: 200px; border: 1px solid black;">
    <h1><%= category.name %></h1>
    </div>
    <%= category.id %>
    <% @activity_posts.where(category_id: category.id).each do |activity| %>
      <div class="card_standard">
        <div class="card_standard_container">
          <h2><%=activity.category.name%></h2>
          <h2><%=activity.start_time %></h2>
        </div>
      </div>
      <% end %>
  <% end %>
