<%= render 'shared/date-switcher' %>
<div class="container dashboard-container">
  <div class="row">
    <div class="col-8">
      <div class="dashboard-header">
      <h2>Schedule</h2>
      </div>
      <div class="d-flex justify-content-between">
        <%= render 'shared/category_filter' %>
        <%= render 'shared/new_at_dashboard' %>
      </div>
      <div class="dashboard-activities-container">
        <%= render 'shared/list_activities' %>
      </div>
    </div>
    <div class="col-4">
      <h2 class="text-center">Next up!</h2>
      <div class="dashboard-next-up-container">
      <%= render 'shared/next-up-card' %>
      </div>

    </div>
  </div>
</div>

