
<div class="d-flex align-items-center">
  <%= link_to date_activities_path(date: (@date - 1).strftime("%Y-%m-%e")) do %>
  <i class="fas fa-arrow-left"></i>
  <% end %>
  <div>
    <%= @date_show %>
  </div>
  <%= link_to date_activities_path(date: (@date + 1).strftime("%Y-%m-%e")) do %>
  <i class="fas fa-arrow-right"></i>
  <% end %>
  <i class="far fa-calendar-alt"></i>
</div>

<div class="kork-container" style="background-image: url(<%= image_path('pinboard.jpg') %>)">
  <div class="row kork-row">
    <div class=" col-9 d-flex">

      <div class="row justify-content-center align-items-center">

      <% @categories.each do |category| %>
      <div class="col-6">

      <div>
        <div class="banner-container" style="background-image: url(<%= image_path(category.url) %>)">
          <h1><%= category.name %></h1>
        </div>
        <div class="expand_button dot_container">
          <div class="d-flex align-items-center justify-content-center">
            <strong><span>.</span><span>.</span><span>.</span></strong>
          </div>
        </div>
      </div>
      </div>

      <div class="cards_expanded">
        <div class="create_event_button col-lg-2">
          <i class="fa fa-calendar-plus"></i>
        </div>
        <div class="card_container_activity col-lg-10">

          <% @activity_posts.where(category_id: category.id).each do |activity| %>
          <div class="card_standard d-flex">
            <div class="col-lg-10">
              <h2><%=activity.category.name%></h2>
              <div class="d-flex">
                <i class="far fa-clock"></i>
                <h2><%=activity.start_time.strftime("%l:%M") %></h2>
              </div>
              <h2><%= activity.duration%> min</h2>
              <div class="d-flex">
                <i class="fas fa-users"></i>
                <h2><%= activity.activity_users.count %>/ <%= activity.capacity%></h2>
              </div>
              <div class="d-flex">
                <i class="fas fa-map-marker-alt"></i>
                <h2><%= activity.location %></h2>
              </div>
              <h2><%= activity.description %></h2>
            </div>
            <div class="col-lg-2 card_standard_activity_join">
              <% if activity.has_user?(current_user) %>
              <%=link_to cancel_activity_path(activity.id), method: :delete  do %>
              <span class="join_event_button">Cancel</span>
              <% end %>
              <%else%>
              <%= link_to activity_post_activity_users_path(activity.id), method: :post  do %>
              <span class="join_event_button">Join</span>
              <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="cards_expanded_options">
      </div>
      <% end %>
      </div>
    </div>
    <div class="col-3">
      <div class="kork-next-up">

      </div>
    </div>
  </div>
</div>
