
<div class="date-switcher-container d-flex align-items-center justify-content-center">
  <% if @date != Date.today %>
  <%= link_to date_activities_path(date: (@date - 1).strftime("%Y-%m-%e")) do %>
  <h2><i class="fas fa-arrow-left"></i></h2>
  <% end  %>
  <% end %>
  <div>
    <h2><%= @date_show %></h2>

  </div>
  <%= link_to date_activities_path(date: (@date + 1).strftime("%Y-%m-%e")) do %>
  <h2><i class="fas fa-arrow-right"></i></h2>

  <% end %>
</div>

<div class="kork-container" style="background-image: url(<%= image_path('pinboard2.jpg') %>)">
  <div class="row kork-row">
    <div class=" col-9 d-flex">

      <div class="row justify-content-center align-items-center">

        <% @categories.each do |category| %>
        <div class="col-6">

          <div>
            <div class="banner-container" style="background-image: url(<%= image_path(category.url) %>)">
              <div class="text_container">
                <h1><%= category.name %></h1>
              </div>
            </div>
            <div class="expand_button dot_container">
              <div class="d-flex align-items-center justify-content-center">
                <strong><span>.</span><span>.</span><span>.</span></strong>
              </div>
            </div>
          </div>
        </div>

        <div class="cards_expanded">
          <div class="create_event_button col-lg-2">
            <i class="fa fa-calendar-plus"></i>
          </div>
          <div class="card_container_activity col-lg-10">

            <% @activity_posts.where(category_id: category.id).each do |activity| %>
            <div class="card_standard d-flex">
              <div class="col-lg-10">
                <h2><%=activity.category.name%></h2>
                <div class="d-flex">
                  <i class="far fa-clock"></i>
                  <h2><%=activity.start_time.strftime("%l:%M") %></h2>
                </div>
                <h2><%= activity.duration%> min</h2>
                <div class="d-flex">
                  <i class="fas fa-users"></i>
                  <h2><%= activity.activity_users.count %>/ <%= activity.capacity%></h2>
                </div>
                <div class="d-flex">
                  <i class="fas fa-map-marker-alt"></i>
                  <h2><%= activity.location %></h2>
                </div>
                <h2><%= activity.description %></h2>
              </div>
              <div class="col-lg-2 card_standard_activity_join">
                <% if activity.has_user?(current_user) %>
                <%=link_to cancel_activity_path(activity.id), method: :delete  do %>
                <span class="join_event_button">Cancel</span>
                <% end %>
                <%else%>
                <%= link_to activity_post_activity_users_path(activity.id), method: :post  do %>
                <span class="join_event_button">Join</span>
                <% end %>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="cards_expanded_options">
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <div class="kork-next-up">
        <h2>Next up!</h2>
        <%  @activity_posts.order(start_time: :asc).first(5).each do |activity|%>
        <div class="row kork_card_side ">
          <div class="col-10 d-flex justify-content-center align-items-center">
            <div>
              <h4><%= activity.category.name %></h4>
              <div class="d-flex justify-content-space-between">
                <h4><i class="far fa-clock"></i></h4>
                <h4><%=activity.start_time.strftime("%l:%M") %></h4>
              </div>
            </div>
          </div>
          <% if activity.has_user?(current_user) %>
          <div class="col-2 cancel_event">
            <%=link_to cancel_activity_path(activity.id), method: :delete  do %>
            <h4 class="cancel_event">C<br>A<br>N<br>C<br>E<br>L</h4>
          </div>
          <% end %>
          <%else%>
          <div class="col-2 join_event">
            <%= link_to activity_post_activity_users_path(activity.id), method: :post  do %>
          <h4 class="join_event specialeffects">J<br>O<br>I<br>N</h4>
            </div>
          <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
