<h1>This is my activity page!</h1>
<div>
  <div>
    <h2>Upcoming Activities</h2>
    <div class="d-flex">
      <% @my_activity_post_joined.each do |activity| %>
        <div class="card_standard">
          <div class="card_standard_container">
            <h2><%=activity.activity_post.category.name%></h2>
            <h2><%=activity.activity_post.start_time %></h2>
            <%= link_to "Cancel", activity_user_path(activity), method: :delete  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <h2>Activities Im hosting</h2>
    <div class="d-flex">
      <%@my_activity_posts_hosting.each do |post| %>
        <div class="card_standard">
          <div class="card_standard_container">
            <h2><%=post.title%></h2>
            <%= link_to "Edit Activity", edit_activity_post_path(post.id) %>
            <%= link_to "Cancel Activity", activity_post_path(post.id), method: :delete  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Landing-page", root_path  %>

<%= link_to "Browse activities", activity_posts_path  %>
