<h1>This is my activity page!</h1>
<div>
  <div>
    <h2>Upcoming Activities</h2>
    <div class="d-flex">
      <% @my_activity_post_joined.each do |post| %>
        <div class="card_standard">
          <div class="card_standard_container">
            <h2><%= link_to post.activity_post.category.name, activity_post_path(post.activity_post_id) %></h2>
            <h2><%=post.activity_post.start_time %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <h2>Activities Im hosting</h2>
    <div class="d-flex">
      <%@my_activity_posts_hosting.each do |post| %>
        <div class="card_standard">
          <div class="card_standard_container">
            <h2><%= link_to post.title, activity_post_path(post.id)%></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Landing-page", root_path  %>

<%= link_to "Browse activities", activity_posts_path  %>
